# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/002-Scanner/nbproject/private/
/002-Scanner/build/

# netbeans files
*.xml
*.mf
*.properties
/001-Print/nbproject/private/
/001-Print/build/
/003-Operaciones_Basicas/nbproject/private/
/003-Operaciones_Basicas/build/
/004-Comparacion/nbproject/private/
/004-Comparacion/build/
/005-Dos_Numeros/nbproject/private/
/starFigures/build/
/006-Star_Figures/build/
/005-Dos_Numeros/build/
/007-Cinco_Enteros/nbproject/private/
/007-Cinco_Enteros/build/
/008-Modulo/nbproject/private/
/008-Modulo/build/